.fas{
    height: 40px !important;
}

#today{
    margin-top: 20px;
    border: 2px solid;
    border-color: gray;
    padding: 20px;
}
.todayStats{
    margin-top: 10px;
}
#forcasttext{
    margin-top: 15px;
}
.card{
    float: left;
    margin-left: .5em;
    padding: 0px !important;
    background-color: rgb(52, 147, 236);
}
.card-body{
    padding-left: 5px !important;
    padding-right: 5px !important;
}
#searches{
    flex-wrap: wrap;
}
.new{
    margin-top: 2px;
    width: 100%;
}
#clearBtn{
    margin-top: 10px;
}
#homeBtn{
    margin-top: 2px;
}
#UVrating{
    color: black;
}